{
  "openapi": "3.1.0",
  "info": {
    "version": "2.0",
    "title": "Hospitable API V2",
    "summary": "Send message for Inquiry",
    "description": "    <!-- theme: warning -->"
  },
  "servers": [
    {
      "url": "https://public.api.hospitable.com/v2",
      "description": "Production"
    }
  ],
  "paths": {
    "/properties": {
      "get": {
        "tags": [
          "Properties"
        ],
        "summary": "Get Properties",
        "description": "> 📘 **Available includes:**\n> \n> - user\n> - listings (required: `listing:read` scope)\n> - details\n> - bookings",
        "operationId": "get-properties",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "What relationships of the property should be included in the response.",
            "schema": {
              "const": "listings"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page of results to return.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "The number of results to include per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 100,
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/PropertyFull"
                          }
                        ]
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string",
                          "examples": [
                            "https://public.api.hospitable.com/v2/properties?page=1"
                          ]
                        },
                        "last": {
                          "type": "string",
                          "examples": [
                            "https://public.api.hospitable.com/v2/properties?page=2"
                          ]
                        },
                        "prev": {},
                        "next": {
                          "type": "string",
                          "examples": [
                            "https://public.api.hospitable.com/v2/properties?page=2"
                          ]
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "default": 0,
                          "examples": [
                            1
                          ]
                        },
                        "from": {
                          "type": "integer",
                          "default": 0,
                          "examples": [
                            1
                          ]
                        },
                        "last_page": {
                          "type": "integer",
                          "default": 0,
                          "examples": [
                            2
                          ]
                        },
                        "links": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {},
                              "label": {
                                "type": "string",
                                "examples": [
                                  "&laquo; Previous"
                                ]
                              },
                              "active": {
                                "type": "boolean",
                                "default": true,
                                "examples": [
                                  false
                                ]
                              }
                            }
                          }
                        },
                        "path": {
                          "type": "string",
                          "examples": [
                            "https://public.api.hospitable.com/v2/properties"
                          ]
                        },
                        "per_page": {
                          "type": "integer",
                          "maximum": 100,
                          "default": 10,
                          "examples": [
                            10
                          ]
                        },
                        "to": {
                          "type": "integer",
                          "default": 0,
                          "examples": [
                            10
                          ]
                        },
                        "total": {
                          "type": "integer",
                          "default": 0,
                          "examples": [
                            15
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status_code": {
                      "type": "integer",
                      "default": 0,
                      "examples": [
                        400
                      ]
                    },
                    "reason_phrase": {
                      "type": "string",
                      "examples": [
                        "Invalid pagination parameter supplied."
                      ]
                    }
                  }
                },
                "examples": {
                  "Result": {
                    "value": {
                      "status_code": 400,
                      "reason_phrase": "Invalid pagination parameter supplied."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404",
                  "__errors__": {
                    "#/components/schemas/404": "No foreign doc with id components found"
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500",
                  "__errors__": {
                    "#/components/schemas/500": "No foreign doc with id components found"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Bearer-Authorization": []
          }
        ],
        "servers": [
          {
            "url": "https://public.api.hospitable.com/v2",
            "description": "Production"
          }
        ]
      }
    },
    "/properties/search": {
      "get": {
        "tags": [
          "Properties"
        ],
        "summary": "Search Properties",
        "description": "This endpoint allows you to search up to **3 years** in the future and for a max period of **90 days**.\n\nIt will always return all properties in the account. If a property is unbookable, the reason will be provided in the response under `availability.details.notAvailableReason`.\n\n> 📘 **Available includes:**\n> \n> - listings (required: `listing:read` scope)\n> - details\n",
        "operationId": "search-properties",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "What relationships of the property should be included in the response.",
            "schema": {
              "const": "listings"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "examples": [
                "2024-08-16"
              ]
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "examples": [
                "2024-10-21"
              ]
            }
          },
          {
            "name": "adults",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "children",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "infants",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pets",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "location",
            "in": "query",
            "style": "deepObject",
            "schema": {
              "type": "object",
              "properties": {
                "latitude": {
                  "type": "number",
                  "format": "float"
                },
                "longitude": {
                  "type": "number",
                  "format": "float"
                }
              },
              "required": [
                "latitude",
                "longitude"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "property": {
                            "allOf": [
                              {
                                "$ref": "#/components/schemas/Property"
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "details": {
                                    "$ref": "#/components/schemas/Property_details"
                                  }
                                }
                              }
                            ]
                          },
                          "pricing": {
                            "type": "object",
                            "properties": {
                              "daily": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "date": {
                                      "type": "string",
                                      "examples": [
                                        "2019-01-02"
                                      ]
                                    },
                                    "price": {
                                      "type": "object",
                                      "properties": {
                                        "currency": {
                                          "type": "string",
                                          "examples": [
                                            "USD"
                                          ]
                                        },
                                        "amount": {
                                          "type": "integer",
                                          "default": 0,
                                          "examples": [
                                            9800
                                          ]
                                        },
                                        "formatted_string": {
                                          "type": "string",
                                          "examples": [
                                            "$98.00"
                                          ]
                                        },
                                        "formatted_decimal": {
                                          "type": "string",
                                          "examples": [
                                            "98.00"
                                          ]
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "total_without_taxes": {
                                "type": "object",
                                "properties": {
                                  "currency": {
                                    "type": "string",
                                    "examples": [
                                      "USD"
                                    ]
                                  },
                                  "amount": {
                                    "type": "integer",
                                    "default": 0,
                                    "examples": [
                                      9800
                                    ]
                                  },
                                  "formatted_string": {
                                    "type": "string",
                                    "examples": [
                                      "$98.00"
                                    ]
                                  },
                                  "formatted_decimal": {
                                    "type": "string",
                                    "examples": [
                                      "98.00"
                                    ]
                                  }
                                }
                              },
                              "total": {}
                            }
                          },
                          "availability": {
                            "type": "object",
                            "properties": {
                              "available": {
                                "type": "boolean",
                                "default": true,
                                "examples": [
                                  false
                                ]
                              },
                              "details": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "notAvailableReason": {
                                      "type": "string",
                                      "examples": [
                                        "maximum_number_of_guests_exceeded"
                                      ]
                                    },
                                    "date": {
                                      "type": "string",
                                      "examples": [
                                        "2019-01-02T00:00:00.000000Z"
                                      ]
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "distance_in_km": {
                            "type": "integer",
                            "default": 0,
                            "examples": [
                              10
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status_code": {
                      "type": "integer",
                      "default": 0,
                      "examples": [
                        400
                      ]
                    },
                    "reason_phrase": {
                      "type": "string",
                      "examples": [
                        "Invalid pagination parameter supplied."
                      ]
                    }
                  }
                },
                "examples": {
                  "Result": {
                    "value": {
                      "status_code": 400,
                      "reason_phrase": "Invalid pagination parameter supplied."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404",
                  "__errors__": {
                    "#/components/schemas/404": "No foreign doc with id components found"
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500",
                  "__errors__": {
                    "#/components/schemas/500": "No foreign doc with id components found"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Bearer-Authorization": []
          }
        ],
        "servers": [
          {
            "url": "https://public.api.hospitable.com/v2",
            "description": "Production"
          }
        ]
      }
    },
    "/properties/{uuid}": {
      "get": {
        "tags": [
          "Properties"
        ],
        "summary": "Get Property by UUID",
        "description": "> 📘 **Available includes:**\n> \n> - user\n> - listings (required: `listing:read` scope)\n> - details\n> - bookings",
        "operationId": "get-property",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "What relationships of the property should be included in the response.",
            "schema": {
              "const": "listings"
            }
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "The UUID of the property to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyFull"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404",
                  "__errors__": {
                    "#/components/schemas/404": "No foreign doc with id components found"
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500",
                  "__errors__": {
                    "#/components/schemas/500": "No foreign doc with id components found"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Bearer-Authorization": []
          }
        ],
        "servers": [
          {
            "url": "https://public.api.hospitable.com/v2",
            "description": "Production"
          }
        ]
      }
    },
    "/properties/{uuid}/images": {
      "get": {
        "tags": [
          "Properties"
        ],
        "summary": "Get Property Images",
        "description": "<!-- theme: warning -->",
        "operationId": "get-property-images",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "The UUID of the property to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "examples": [
                              "http://www.example.com/image-url"
                            ]
                          },
                          "thumbnail_url": {
                            "type": "string",
                            "examples": [
                              "http://example.com/thumbnail-url"
                            ]
                          },
                          "caption": {
                            "type": "string",
                            "examples": [
                              "Sample caption"
                            ]
                          },
                          "order": {
                            "type": "integer",
                            "default": 0,
                            "examples": [
                              1
                            ]
                          },
                          "last_updated_at": {
                            "type": "string",
                            "examples": [
                              "2023-05-15T00:00:00.000000Z"
                            ]
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "data": [
                        {
                          "url": "http://www.example.com/image-url",
                          "thumbnail_url": "http://example.com/thumbnail-url",
                          "caption": "Sample caption",
                          "order": 0,
                          "last_updated_at": "2023-05-15T00:00:00.000000Z"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404",
                  "__errors__": {
                    "#/components/schemas/404": "No foreign doc with id components found"
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500",
                  "__errors__": {
                    "#/components/schemas/500": "No foreign doc with id components found"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Bearer-Authorization": []
          }
        ],
        "servers": [
          {
            "url": "https://public.api.hospitable.com/v2",
            "description": "Production"
          }
        ]
      }
    },
    "/properties/{uuid}/calendar": {
      "get": {
        "tags": [
          "Properties"
        ],
        "summary": "Get Property Calendar",
        "description": "<!-- theme: warning -->\n> 📘 Required scopes:\n> \n> - `property:read`\n> - `calendar:read`",
        "operationId": "get-property-calendar",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "The UUID of the property to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "listing_id": {
                          "type": "string",
                          "examples": [
                            "641292503357103111"
                          ],
                          "x-deprecated": true
                        },
                        "provider": {
                          "type": "string",
                          "x-deprecated": true
                        },
                        "start_date": {
                          "type": "string",
                          "examples": [
                            "2023-10-01"
                          ]
                        },
                        "end_date": {
                          "type": "string",
                          "examples": [
                            "2023-10-31"
                          ]
                        },
                        "days": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "date": {
                                "type": "string",
                                "examples": [
                                  "2023-10-01"
                                ]
                              },
                              "day": {
                                "type": "string",
                                "examples": [
                                  "SUNDAY"
                                ]
                              },
                              "min_stay": {
                                "type": "integer"
                              },
                              "status": {
                                "type": "object",
                                "properties": {
                                  "reason": {
                                    "type": "string",
                                    "enum": [
                                      "RESERVED",
                                      "AVAILABLE",
                                      "BLOCKED"
                                    ],
                                    "description": "`BLOCKED` is used for all other reasons a date is unavailable such as: the date is in the past, manually blocked, closed due to lead time settings, date is held for a request/invitation to book."
                                  },
                                  "source_type": {
                                    "description": "The source of the availability",
                                    "anyOf": [
                                      {
                                        "type": "string",
                                        "enum": [
                                          "USER",
                                          "VENDOR",
                                          "PLATFORM",
                                          "AVAILABILITY_WINDOW",
                                          "TURNOVER_DAY",
                                          "ADVANCED_NOTICE",
                                          "UPSELL",
                                          "RESERVATION"
                                        ]
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "source": {
                                    "description": "The source of the availability",
                                    "anyOf": [
                                      {
                                        "type": "string",
                                        "examples": [
                                          "Airbnb"
                                        ]
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "available": {
                                    "type": "boolean",
                                    "default": true,
                                    "examples": [
                                      false
                                    ]
                                  }
                                }
                              },
                              "price": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "integer",
                                    "default": 0,
                                    "examples": [
                                      15000
                                    ]
                                  },
                                  "currency": {
                                    "type": "string",
                                    "examples": [
                                      "EUR"
                                    ]
                                  },
                                  "formatted": {
                                    "type": "string",
                                    "examples": [
                                      "€150.00"
                                    ]
                                  }
                                }
                              },
                              "closed_for_checkin": {
                                "type": "boolean"
                              },
                              "closed_for_checkout": {
                                "type": "boolean"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404",
                  "__errors__": {
                    "#/components/schemas/404": "No foreign doc with id components found"
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500",
                  "__errors__": {
                    "#/components/schemas/500": "No foreign doc with id components found"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Bearer-Authorization": []
          }
        ],
        "servers": [
          {
            "url": "https://public.api.hospitable.com/v2",
            "description": "Production"
          }
        ]
      },
      "put": {
        "tags": [
          "Properties"
        ],
        "summary": "Update Property Calendar",
        "description": "Allows updating a property’s calendar data for up to 1,095 days (3 years) into the future.\n\n<!-- theme: warning -->\n> 📘 Required scopes:\n> \n> - `property:read`\n> - `calendar:write`\n\n> ❗️**Rate limit**: 1000 requests per minute for the calendar endpoint.\n",
        "operationId": "update-property-calendar",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "The UUID of the property to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "dates": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "date": {
                          "type": "string",
                          "description": "YYYY-MM-DD format",
                          "format": "date"
                        },
                        "price": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "integer",
                              "description": "Amount in base units (e.g. cents for USD or EUR)",
                              "format": "int32",
                              "examples": [
                                1000
                              ]
                            }
                          }
                        },
                        "available": {
                          "type": "boolean",
                          "description": "Is this date available?"
                        },
                        "min_stay": {
                          "type": "integer",
                          "description": "Minimum nights stay",
                          "format": "int32",
                          "examples": [
                            3
                          ]
                        },
                        "closed_for_checkout": {
                          "type": "boolean",
                          "description": "Is the date available for checkout?"
                        },
                        "closed_for_checkin": {
                          "type": "boolean",
                          "description": "Is the date available for checkout?"
                        }
                      },
                      "maxProperties": 60
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "202",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "examples": [
                        "accepted"
                      ]
                    }
                  }
                },
                "examples": {
                  "Result": {
                    "value": {
                      "status": "accepted"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404",
                  "__errors__": {
                    "#/components/schemas/404": "No foreign doc with id components found"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity\n\nExamples:\n- Calendar is restricted.\n- Hospitable Dynamic Pricing is enabled, therefore prices cannot be updated via the API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status_code": {
                      "type": "string",
                      "examples": [
                        "422"
                      ]
                    },
                    "reason_phrase": {
                      "type": "string",
                      "examples": [
                        "This property has a channel that is calendar restricted, and updates can not be made to the calendar"
                      ]
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "status_code": "422",
                      "reason_phrase": "This property has a channel that is calendar restricted, and updates can not be made to the calendar"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500",
                  "__errors__": {
                    "#/components/schemas/500": "No foreign doc with id components found"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Bearer-Authorization": []
          }
        ],
        "servers": [
          {
            "url": "https://public.api.hospitable.com/v2",
            "description": "Production"
          }
        ]
      }
    },
    "/properties/{uuid}/ical-imports": {
      "post": {
        "tags": [
          "Properties"
        ],
        "summary": "Create iCal Import",
        "description": "<!-- theme: warning -->\n> 📘 **Scopes required**:\n> - ical:write\n\nCreate a new external iCal import for a property. This allows you to import bookings into a Hospitable property from an external iCal calendar feed. Useful for OTAs that we do not have a native integration with.\n\nAdding a new iCal feed will trigger an import of all bookings from the feed within 1 minute.",
        "operationId": "create-property-ical-import",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "The UUID of the property.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "The URL of the iCal feed to import.",
                    "format": "uri",
                    "examples": [
                      "https://example.com/calendar.ics"
                    ]
                  },
                  "name": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "A friendly name for this iCal import.",
                    "examples": [
                      "Vacation Rental Calendar"
                    ]
                  },
                  "host": {
                    "type": "object",
                    "description": "Host information for the iCal import.",
                    "properties": {
                      "first_name": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "maxLength": 255,
                        "examples": [
                          "John"
                        ]
                      },
                      "last_name": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "maxLength": 255,
                        "examples": [
                          "Doe"
                        ]
                      }
                    }
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "examples": [
                        "accepted"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "examples": [
                        "The given data was invalid."
                      ]
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "examples": [
                              "You cannot use a local/testing domain for iCal imports."
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404",
                  "__errors__": {
                    "#/components/schemas/404": "No foreign doc with id components found"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "examples": [
                        "The given data was invalid."
                      ]
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "examples": [
                              "We could not find a valid iCal feed at that link.",
                              "This iCal feed has already been used on another Hospitable account.",
                              "You have already added this iCal feed on another property."
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500",
                  "__errors__": {
                    "#/components/schemas/500": "No foreign doc with id components found"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer-Authorization": []
          }
        ],
        "servers": [
          {
            "url": "https://public.api.hospitable.com/v2",
            "description": "Production"
          }
        ]
      }
    },
    "/properties/{uuid}/ical-imports/{icalUuid}": {
      "put": {
        "tags": [
          "Properties"
        ],
        "summary": "Update iCal Import",
        "description": "<!-- theme: warning -->\n> 📘 **Scopes required**:\n> - ical:write\n\n> **Access Control**:\n> Only PAT tokens and the same vendor that created the iCal import can edit it.\n\nUpdate an existing external iCal import for a property. You can update the URL, name, and host information. Editing the URL will trigger a re-import of the iCal feed. If future bookings on the previous URL are not present in the new URL, they will be marked as cancelled in our system.",
        "operationId": "update-property-ical-import",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "The UUID of the property.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "icalUuid",
            "in": "path",
            "description": "The UUID of the iCal import.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "The URL of the iCal feed to import.",
                    "format": "uri",
                    "examples": [
                      "https://example.com/calendar.ics"
                    ]
                  },
                  "name": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "An optional friendly name for this iCal import. Can be null. This is shown in the Hospitable UI when viewing the property.",
                    "examples": [
                      "Vacation Rental Calendar"
                    ]
                  },
                  "host": {
                    "type": "object",
                    "description": "Host information for the iCal import.",
                    "properties": {
                      "first_name": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "An optional first name for the host. Can be null. If null, Hospitable will use host name data from other connected accounts on that property. This is used for short codes in messaging rules.",
                        "maxLength": 255,
                        "examples": [
                          "John"
                        ]
                      },
                      "last_name": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "An optional last name for the host. Can be null. If null, Hospitable will use host name data from other connected accounts on that property. This is used for short codes in messaging rules.",
                        "maxLength": 255,
                        "examples": [
                          "Doe"
                        ]
                      }
                    }
                  },
                  "resync": {
                    "type": "boolean",
                    "description": "Optional field that can be excluded. Useful if you have fixed the underlying URL and the URL hasn't changed, and you want Hospitable to reconnect and re-fetch the iCal feed. This operation is throttled to a maximum of once every 15 minutes per feed.",
                    "default": false
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "examples": [
                        "accepted"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "examples": [
                        "The given data was invalid."
                      ]
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "examples": [
                              "You cannot use a local/testing domain for iCal imports."
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "examples": [
                        "forbidden"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404",
                  "__errors__": {
                    "#/components/schemas/404": "No foreign doc with id components found"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "examples": [
                        "The given data was invalid."
                      ]
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "examples": [
                              "We could not find a valid iCal feed at that link."
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500",
                  "__errors__": {
                    "#/components/schemas/500": "No foreign doc with id components found"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer-Authorization": []
          }
        ],
        "servers": [
          {
            "url": "https://public.api.hospitable.com/v2",
            "description": "Production"
          }
        ]
      }
    },
    "/properties/{uuid}/quote": {
      "post": {
        "tags": [
          "Properties"
        ],
        "summary": "Generate a quote",
        "description": "<!-- theme: warning -->\n> 📘 **Scopes required**:\n> - quote:write\n\nThis endpoint will allow you to generate a quote for a Direct property. The quote includes all the financials and a link to our booking flow allowing you to redirect the user to complete the booking.",
        "operationId": "create-quote",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "The UUID of the property to get a quote for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "checkin_date": {
                    "type": "string",
                    "format": "date",
                    "examples": [
                      "2023-10-01"
                    ]
                  },
                  "checkout_date": {
                    "type": "string",
                    "format": "date",
                    "examples": [
                      "2023-10-01"
                    ]
                  },
                  "guests": {
                    "type": "object",
                    "properties": {
                      "adults": {
                        "type": "number",
                        "min": 1
                      },
                      "children": {
                        "type": "number",
                        "description": "number of children under 11",
                        "min": 0
                      },
                      "infants": {
                        "type": "number",
                        "description": "number of children under 3",
                        "min": 0
                      },
                      "pets": {
                        "type": "number",
                        "min": 0
                      }
                    },
                    "required": [
                      "adults"
                    ]
                  },
                  "guest_details": {
                    "type": "object",
                    "description": "The details of the primary guest",
                    "properties": {
                      "first_name": {
                        "type": "string",
                        "examples": [
                          "John Doe"
                        ]
                      },
                      "last_name": {
                        "type": "string",
                        "examples": [
                          "John Doe"
                        ]
                      },
                      "email": {
                        "type": "string",
                        "format": "email",
                        "examples": [
                          "john@guest.com"
                        ]
                      },
                      "phone": {
                        "type": "string",
                        "examples": [
                          "+12015550123"
                        ]
                      }
                    }
                  },
                  "promo_code": {
                    "type": "string",
                    "description": "A promo code to apply to the quote",
                    "examples": [
                      "DISCOUNT"
                    ]
                  }
                },
                "required": [
                  "checkin_date",
                  "checkout_date",
                  "guests"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "quote_id": {
                          "type": "string",
                          "format": "uuid",
                          "examples": [
                            "40c9b4fe-6594-4020-8593-886cb91ca35f"
                          ]
                        },
                        "booking_url": {
                          "type": "string",
                          "description": "The url to initiate the guest booking flow."
                        },
                        "currency": {
                          "type": "string",
                          "examples": [
                            "USD"
                          ]
                        },
                        "financials": {
                          "type": "object",
                          "properties": {
                            "taxes": {
                              "type": "array",
                              "description": "All the taxes applicable to the quote.",
                              "items": {
                                "allOf": [
                                  {
                                    "$ref": "#/components/schemas/FinancialV2"
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "label": {
                                        "type": "string",
                                        "examples": [
                                          "Lodging taxes"
                                        ]
                                      },
                                      "category": {
                                        "type": "string",
                                        "examples": [
                                          "Pass-through taxes"
                                        ]
                                      }
                                    }
                                  }
                                ]
                              }
                            },
                            "fees": {
                              "type": "array",
                              "description": "All the fees applicable to the quote.",
                              "items": {
                                "allOf": [
                                  {
                                    "$ref": "#/components/schemas/FinancialV2"
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "label": {
                                        "type": "string",
                                        "examples": [
                                          "Guest Service Fee"
                                        ]
                                      },
                                      "category": {
                                        "type": "string",
                                        "examples": [
                                          "Service fees"
                                        ]
                                      }
                                    }
                                  }
                                ]
                              }
                            },
                            "discounts": {
                              "type": "array",
                              "description": "Any discounts applicable to the quote.",
                              "items": {
                                "allOf": [
                                  {
                                    "$ref": "#/components/schemas/NegativeFinancial"
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "label": {
                                        "type": "string",
                                        "examples": [
                                          "Promo code (1234)"
                                        ]
                                      },
                                      "category": {
                                        "type": "string",
                                        "enum": [
                                          "Weekly Discount",
                                          "Monthly Discount",
                                          "Promotion Discount"
                                        ]
                                      }
                                    }
                                  }
                                ]
                              }
                            },
                            "totals": {
                              "type": "object",
                              "properties": {
                                "sub_total": {
                                  "type": "array",
                                  "description": "The total price of the quote. This is the accommodation + fees + taxes - discounts.",
                                  "items": {
                                    "allOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "label": {
                                            "type": "string",
                                            "examples": [
                                              "Sub Total"
                                            ]
                                          },
                                          "category": {
                                            "type": "string",
                                            "examples": [
                                              "Total payment"
                                            ]
                                          }
                                        }
                                      },
                                      {
                                        "$ref": "#/components/schemas/FinancialV2"
                                      }
                                    ]
                                  }
                                },
                                "total_fees": {
                                  "type": "array",
                                  "description": "The combined total price of the fees for the quote.",
                                  "items": {
                                    "allOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "label": {
                                            "type": "string",
                                            "examples": [
                                              "Total Fees"
                                            ]
                                          },
                                          "category": {
                                            "type": "string",
                                            "examples": [
                                              "Total payment"
                                            ]
                                          }
                                        }
                                      },
                                      {
                                        "$ref": "#/components/schemas/FinancialV2"
                                      }
                                    ]
                                  }
                                },
                                "total": {
                                  "type": "array",
                                  "description": "The total price of the quote. This is the accommodation + fees + taxes - discounts.",
                                  "items": {
                                    "allOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "label": {
                                            "type": "string",
                                            "examples": [
                                              "Total Price"
                                            ]
                                          },
                                          "category": {
                                            "type": "string",
                                            "examples": [
                                              "Guest total price"
                                            ]
                                          }
                                        }
                                      },
                                      {
                                        "$ref": "#/components/schemas/FinancialV2"
                                      }
                                    ]
                                  }
                                },
                                "total_without_taxes": {
                                  "type": "array",
                                  "description": "The total price of the quote without taxes. This is the accommodation + fees - discounts.",
                                  "items": {
                                    "allOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "label": {
                                            "type": "string",
                                            "examples": [
                                              "Total without taxes"
                                            ]
                                          },
                                          "category": {
                                            "type": "string",
                                            "examples": [
                                              "Total payment"
                                            ]
                                          }
                                        }
                                      },
                                      {
                                        "$ref": "#/components/schemas/FinancialV2"
                                      }
                                    ]
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400",
                  "__errors__": {
                    "#/components/schemas/400": "No foreign doc with id components found"
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404",
                  "__errors__": {
                    "#/components/schemas/404": "No foreign doc with id components found"
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500",
                  "__errors__": {
                    "#/components/schemas/500": "No foreign doc with id components found"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Bearer-Authorization": []
          }
        ],
        "servers": [
          {
            "url": "https://public.api.hospitable.com/v2",
            "description": "Production"
          }
        ]
      }
    },
    "/properties/{uuid}/tags": {
      "post": {
        "tags": [
          "Properties"
        ],
        "summary": "Tag a property",
        "description": "<!-- theme: warning -->\n> 📘 **Scopes required**:\n> \n> This endpoint is for Personal Access Tokens only.",
        "operationId": "create-properties-tags",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "The UUID of the property.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tags": {
                    "type": "array",
                    "maxItems": 10,
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "202",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404",
                  "__errors__": {
                    "#/components/schemas/404": "No foreign doc with id components found"
                  }
                }
              }
            }
          },
          "5XX": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status_code": {
                      "type": "string"
                    },
                    "reason_phrase": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer-Authorization": []
          }
        ],
        "servers": [
          {
            "url": "https://public.api.hospitable.com/v2",
            "description": "Production"
          }
        ]
      }
    },
    "/payouts": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "All Payouts",
        "description": "\n<!-- theme: warning -->\n> 🚧 **New Scope Required**\n> \n> For all Customers who **authorized access to their Airbnb before Jan 12th, 2024** in order to have access to `payouts` and `transactions` data you will have to re-connect their Channels. \n> \n> You can do it by guiding them through the [authorization flow](https://developer.hospitable.com/reference/authentication-3#oauth-authorization-for-vendors) again, same as the first time their account was connected.\n\n> 📘 **Scopes required**:\n> - transaction:read",
        "operationId": "all-payouts",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Comma-separated values, any of: transactions",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "examples": [
                              "ed4783b9-4c78-36c0-a378-8a9b1ccb9e27"
                            ]
                          },
                          "platform": {
                            "type": "string",
                            "examples": [
                              "homeaway"
                            ]
                          },
                          "platform_id": {
                            "type": "string",
                            "examples": [
                              "ipsam"
                            ]
                          },
                          "bank_account": {
                            "type": "string",
                            "examples": [
                              "necessitatibus"
                            ]
                          },
                          "reference": {
                            "type": "string",
                            "examples": [
                              "quia"
                            ]
                          },
                          "amount": {
                            "type": "object",
                            "properties": {
                              "amount": {
                                "type": "integer",
                                "default": 0,
                                "examples": [
                                  80292743
                                ]
                              },
                              "formatted": {
                                "type": "string",
                                "examples": [
                                  "$802,927.43"
                                ]
                              },
                              "currency": {
                                "type": "string",
                                "examples": [
                                  "USD"
                                ]
                              }
                            }
                          },
                          "date": {}
                        }
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string",
                          "examples": [
                            "https://public.api.hospitable.com/v2/payouts?page=1"
                          ]
                        },
                        "last": {
                          "type": "string",
                          "examples": [
                            "https://public.api.hospitable.com/v2/payouts?page=2"
                          ]
                        },
                        "prev": {},
                        "next": {
                          "type": "string",
                          "examples": [
                            "https://public.api.hospitable.com/v2/payouts?page=2"
                          ]
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "default": 0,
                          "examples": [
                            1
                          ]
                        },
                        "from": {
                          "type": "integer",
                          "default": 0,
                          "examples": [
                            1
                          ]
                        },
                        "last_page": {
                          "type": "integer",
                          "default": 0,
                          "examples": [
                            2
                          ]
                        },
                        "links": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {},
                              "label": {
                                "type": "string",
                                "examples": [
                                  "&laquo; Previous"
                                ]
                              },
                              "active": {
                                "type": "boolean",
                                "default": true,
                                "examples": [
                                  false
                                ]
                              }
                            }
                          }
                        },
                        "path": {
                          "type": "string",
                          "examples": [
                            "https://public.api.hospitable.com/v2/payouts"
                          ]
                        },
                        "per_page": {
                          "type": "integer",
                          "maximum": 100,
                          "default": 10,
                          "examples": [
                            2
                          ]
                        },
                        "to": {
                          "type": "integer",
                          "default": 0,
                          "examples": [
                            2
                          ]
                        },
                        "total": {
                          "type": "integer",
                          "default": 0,
                          "examples": [
                            3
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400",
                  "__errors__": {
                    "#/components/schemas/400": "No foreign doc with id components found"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Bearer-Authorization": []
          }
        ],
        "servers": [
          {
            "url": "https://public.api.hospitable.com/v2",
            "description": "Production"
          }
        ]
      }
    },
    "/payouts/{payout}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Retrieve a Payout",
        "description": "<!-- theme: warning -->\n> 🚧 **New Scope Required**\n> \n> For all Customers who **authorized access to their Airbnb before Jan 12th, 2024** in order to have access to `payouts` and `transactions` data you will have to re-connect their Channels. \n> \n> You can do it by guiding them through the [authorization flow](https://developer.hospitable.com/reference/authentication-3#oauth-authorization-for-vendors) again, same as the first time their account was connected.\n\n> 📘 **Scopes required**:\n> \n> - transaction:read",
        "operationId": "retrieve-a-payout",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Comma-separated values, any of: transactions",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "payout",
            "in": "path",
            "description": "Payout UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "examples": [
                            "267e42ed-441c-3312-8145-6d3e7c0d0765"
                          ]
                        },
                        "platform": {
                          "type": "string",
                          "examples": [
                            "airbnb"
                          ]
                        },
                        "platform_id": {
                          "type": "string",
                          "examples": [
                            "ipsam"
                          ]
                        },
                        "bank_account": {
                          "type": "string",
                          "examples": [
                            "quam"
                          ]
                        },
                        "reference": {
                          "type": "string",
                          "examples": [
                            "inventore"
                          ]
                        },
                        "amount": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "integer",
                              "default": 0,
                              "examples": [
                                12345
                              ]
                            },
                            "formatted": {
                              "type": "string",
                              "examples": [
                                "€123.45"
                              ]
                            },
                            "currency": {
                              "type": "string",
                              "examples": [
                                "EUR"
                              ]
                            }
                          }
                        },
                        "date": {},
                        "transactions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "examples": [
                                  "e99373f1-ec06-33f7-95da-5898df81effb"
                                ]
                              },
                              "platform": {
                                "type": "string",
                                "examples": [
                                  "airbnb"
                                ]
                              },
                              "type": {
                                "type": "string",
                                "examples": [
                                  "Payout"
                                ]
                              },
                              "details": {
                                "type": "string",
                                "examples": [
                                  "magni"
                                ]
                              },
                              "reference": {
                                "type": "string",
                                "examples": [
                                  "autem"
                                ]
                              },
                              "currency": {
                                "type": "string",
                                "examples": [
                                  "USD"
                                ]
                              },
                              "amount": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "integer",
                                    "default": 0,
                                    "examples": [
                                      351
                                    ]
                                  },
                                  "formatted": {
                                    "type": "string",
                                    "examples": [
                                      "$3.51"
                                    ]
                                  },
                                  "currency": {
                                    "type": "string",
                                    "examples": [
                                      "USD"
                                    ]
                                  }
                                }
                              },
                              "paid_out_amount": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "integer",
                                    "default": 0,
                                    "examples": [
                                      351
                                    ]
                                  },
                                  "formatted": {
                                    "type": "string",
                                    "examples": [
                                      "$3.51"
                                    ]
                                  },
                                  "currency": {
                                    "type": "string",
                                    "examples": [
                                      "USD"
                                    ]
                                  }
                                }
                              },
                              "date": {
                                "type": "string",
                                "examples": [
                                  "2019-01-01T12:00:00+00:00"
                                ]
                              },
                              "start_date": {
                                "type": "string",
                                "examples": [
                                  "2019-01-01T12:00:00+00:00"
                                ]
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400",
                  "__errors__": {
                    "#/components/schemas/400": "No foreign doc with id components found"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Bearer-Authorization": []
          }
        ],
        "servers": [
          {
            "url": "https://public.api.hospitable.com/v2",
            "description": "Production"
          }
        ]
      }
    },
    "/transactions": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "All Transactions",
        "description": "<!-- theme: warning -->\n> 🚧 **New Scope Required**\n> \n> For all Customers who **authorized access to their Airbnb before Jan 12th, 2024** in order to have access to `payouts` and `transactions` data you will have to re-connect their Channels. \n> \n> You can do it by guiding them through the [authorization flow](https://developer.hospitable.com/reference/authentication-3#oauth-authorization-for-vendors) again, same as the first time their account was connected.\n\n> 📘 **Scopes required**:\n> \n> - transaction:read",
        "operationId": "all-transactions",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Comma-separated values, any of: payout, reservation",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "examples": [
                              "68b10831-6654-37c8-8cb5-314e05ece822"
                            ]
                          },
                          "platform": {
                            "type": "string",
                            "examples": [
                              "airbnb"
                            ]
                          },
                          "type": {
                            "type": "string",
                            "examples": [
                              "Resolution Adjustment"
                            ]
                          },
                          "details": {
                            "type": "string",
                            "examples": [
                              "blanditiis"
                            ]
                          },
                          "reference": {
                            "type": "string",
                            "examples": [
                              "iure"
                            ]
                          },
                          "currency": {
                            "type": "string",
                            "examples": [
                              "USD"
                            ]
                          },
                          "amount": {
                            "type": "object",
                            "properties": {
                              "amount": {
                                "type": "integer",
                                "default": 0,
                                "examples": [
                                  9468
                                ]
                              },
                              "formatted": {
                                "type": "string",
                                "examples": [
                                  "$94.68"
                                ]
                              },
                              "currency": {
                                "type": "string",
                                "examples": [
                                  "USD"
                                ]
                              }
                            }
                          },
                          "paid_out_amount": {
                            "type": "object",
                            "properties": {
                              "amount": {
                                "type": "integer",
                                "default": 0,
                                "examples": [
                                  9468
                                ]
                              },
                              "formatted": {
                                "type": "string",
                                "examples": [
                                  "$94.68"
                                ]
                              },
                              "currency": {
[...]
